@font-face {
  font-family: SegoeUI;
  src: url('./font/SegoeUI.ttf');
} 

:root {
  --gray-color: #EFEFEF;
  --dark-gray-color: #FAFAFA;
  --white-color: #FFFFFF;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  font-family: 'Segoe UI', sans-serif;
}